@media (min-width: 834px) {
    /* Cabeçalho */
    .cabecalho__pesquisar__item {
        display: block;
    }

    /* Menu */
    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }

    /* Rodapé */
    .rodape__container {
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .menu__container {
        width: 239px;
        overflow-y: scroll;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__lista {
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;
    }

    .menu__itens {
        flex-direction: row;
        gap: 15px;
        align-items: center;
        padding: 4px;
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;
    }

    /* .jogos {
        order: 3;
    }

    .filmes {
        order: 2;
    }

    .premium {
        order: 1;
    }

    .maispagina {
        order: 4;
    } */
}